[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
ujson = "*"
pydantic = "*"
numpy = "*"
python-multipart = "*"
python-jose = {extras = ["cryptogaphy"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
googlemaps = "*"

[dev-packages]

[requires]
python_version = "3.10"
